[Desktop Entry]
Type=Application
Exec=conky
Hidden=false
Name[en_GB]=Conky
Name=Conky
Comment[en_GB]=Conky System Monitor
Comment=Conky System Monitor
